/* ============================================================
GLOBAL STYLES
============================================================ */
html,body{
	margin:0;
	padding: 0;
	font-family: 'Varela Round', sans-serif;
}

a:hover, a:active, a:focus {
  outline: 0;
}

ul{
margin: 0;
padding: 0;
}

header{
	height: 100vh;
}

section{
	width: 80%;
	float: right;
	margin: auto;
}

h2{
	font-family: 'Dosis', sans-serif;
	color:#E42829;
	width: 100%;
	margin: 0 auto;
	background-color:#fff;
	padding: 20px 0;
	text-align: center;
	font-weight: 800;
}

.container{
	display: none;
}
.mobile-logo{
	display: none;
}
.highlight{
	/*font-family:'Cutive Mono',monospace;*/
	/*letter-spacing: 5px;*/
	color: #e74c3c;
	font-style: normal;
	font-weight: bold;
}



/* ============================================================
NAVIGATION
============================================================ */
#side-nav{
	float: left;
	width: 20%;
	height:100%;
	position: fixed;
	background-color: #282828;

}

#side-nav a{
	text-decoration:none;
	color: #000;
	opacity: 0.7;
}

nav ul{
	padding: 0;
	margin-left: 10%;
	display: inline-flex;
	height: 100vh;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

nav h3{
	font-family: 'cutive mono',sans-serif;
	color: #fff;
	font-size: 1.5em;
	opacity: 0.5;

}
nav ul li{
	list-style: none;
	line-height: 50px;
	font-family: 'Cutive Mono', monospace;
}

nav ul a li{
	text-decoration: none;
	font-size: 0.85em;
	letter-spacing: 5px;
	color: #7f8c8d;
}



/* ============================================================
HEADER CONTENT
============================================================ */

#header-side{
	float: right;
	width: 80%;
	height: 100vh;
	overflow: hidden;
}

.header-content{
	background-image: url("../images/wolf.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 95%;
	height: 100vh;
	margin: 0 auto;
}

.header-content h4{
	background-color: #fff;
	width: 100%;
	margin: 0;
	padding: 20px 0;
	text-align: center;
	letter-spacing: 25px;
	color:#e74c3c;
}

#top{
	width: 100%;
	height: 45px;
	background-color: :#fff;
}
#top h1{
	font-family: 'Dosis', sans-serif;
	text-align: center;
	margin: 5px 0 ;
	font-weight: 800;
	color: #282828;
	background-color: #fff;
}




/* ============================================================
SECTION: ABOUT
============================================================ */

#about{
	margin: 20px auto 0;
	padding: 10px 0;
	width: 95%;
	text-align: center;
	height: 100%;
	background-image: url("../images/logo3.png");
	background-repeat:no-repeat;
	background-size: 512px 512px;
	background-position: center center;
}

.profile-photo{
	display:inline-block;
	max-width: 200px;
	margin: 20px;
	border-radius: 100px;
}

#about p {
	justify-content: justify;
	margin: 20px auto 30px;
	font-size: 1.25em;
	line-height: 30px;
	color: #282828;
	width: 70%;
	background-size: 50px 100px;
	font-family: 'varela round', sans-serif;
	/*font-style: italic;*/
}



/* ============================================================
SECTION: MY WORK/PORTFOLIO
============================================================ */
#portfolio{
	margin: 50px auto 0;
	width: 95%;
	text-align: center;
	background-color: #282828;
	height: 100%;
}



/* ============================================================
SECTION: SHOUT-OUTS
============================================================ */
#shout-outs{
	margin: 0 auto ;
	/*padding-bottom: 20px;*/
	max-width: 95%;
	text-align: center;
	height: 100%;
	overflow: hidden;
}


.user-profile-photo{
	display:inline-block;
	max-width: 100px;
	margin: 10px;
	border-radius: 100px;
	border:rgba(40, 40, 40,0.8) solid 3px;
}

#shout-outs p{
	background-image: url("../images/quote.png"), url("../images/quote-reverse.png");
	background-position: top left,  bottom right;
	font-size: 1em;
	width: 75%;
	margin: 0 auto 20px;
	background-repeat:no-repeat;
	line-height:20px;
	background-size:25px 25px;
	padding: 5px 40px;
	color:#282828;
	font-style: italic;
	text-align: center;
}

#shout-outs .author ul{
	display: inline;
	width: 80%;
}
#shout-outs .author ul li{
	list-style: none;
	margin: 0;
	color: #282828;
	text-align: right;
	width: 90%;
	font-family:'Cutive Mono', monospace;
	font-size: 0.85em;
}




/* ============================================================
SECTION: FIND ME/ CANTACT ME
============================================================ */
#contact{
	margin: 30px auto 0;
	width: 95%;
	height: 100%;
	background-color: #282828;
}


#contact p{
	font-size: 1.85em;
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	line-height:70px;
	color:#fff;
	text-align: left;
	font-style: italic;
	opacity: 0.3;
	font-family: 'cutive mono', sans-serif;
}

#contact ul{
	max-width: 100%;
	margin: 20px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: ceter;
	padding: 0;
	flex-wrap: wrap;
}

#contact ul a{
	text-decoration: none;
	padding: 15px;
	margin: 0px;
	/*opacity: 0.4;*/

}

#contact ul a li img{
	list-style: none;
	opacity: 0.8;
	width:40px;
	height: 40px;
}

#contact ul li{
	list-style:none;
}

#contact ul a:hover{
	opacity: 1;
}

#contact h4{
	text-align: center;
	margin: 0 auto;
	color:#fff;
	opacity: 0.2;
	font-family: 'Cutive Mono',monospace;
	letter-spacing: 10px;
	line-height: 40px;
}

.mail{
	list-style:none;
	margin: 50px auto;
	width: 100%;
	text-align: center;

}

.mail a{
	text-decoration:none;
	padding: 20px;
	color: #fff;
	font-family: 'Cutive Mono',monospace;
	letter-spacing: 3px;
	font-size: 1.25em;
	color:#7f8c8d;
	opacity: 0.6;
	text-align: center;
	border: #fff solid 3px;
	margin: 30px auto;
}



/* ============================================================
SECTION: ANIMATIONS
============================================================ */

/*navigation */
.hvr-underline-from-left {
  display: block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0px;
  right: 100%;
  bottom: 0;
  background-color: #E42829;
  height: 2.5px;
	opacity: 0.8;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right:0;
}

#side-nav a:hover,
#side-nav a li:hover{
	color: #fff;
	opacity: 1;
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

/*Contact*/
#contact ul a li img:hover{
	opacity: 1;
	-webkit-transition-duration: 8s;
	transition-duration: 8s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E42829;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/*FIND ME ANIMATIONS*/
.mail a:hover{
	color: #fff;
	opacity: 10;
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}





.og-grid {
	list-style: none;
	padding: 20px 0px;
	margin: 20px auto;
	text-align: center;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;

}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
	margin: 0px;
	max-width: 100%;
}


.og-grid li{
	width: 30%;
	margin-bottom: -2px;

}

.og-grid li a img{
	/*width: 100%;*/
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: rgba(231, 76, 60,1.0);
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background-color: #e74c3c;
	top: auto;
	right: 0;
	width: 80%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: auto;
	/*z-index: 1;*/
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
	background-color: #e74c3c;
}

.og-close {
	position: absolute;
	width: 35px;
	height: 35px;
	top: 15px;
	right: 15px;
	cursor: pointer;
	border-radius: 100%;
	background-color: #282828;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 50%;
	top: 48%;
	height: 2px;
	right:9px;
	background-color: #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background-color: #e74c3c;
}

.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
	padding-top:15px;
}

.og-details h3 {
	font-weight: 300;
	font-size: 52px;
	padding: 0px 0 10px;
	margin: 0;
	color: #fff;
}

.og-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #eee;
}

.og-details a {
	font-weight: 700;
	font-size: 0.75em;
	color: #eee;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 10px 20px;
	border: 3px solid #eee;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
	font-family: 'Cutive Mono', monospace;
	opacity: 0.8;
	text-decoration: none;
}

.og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-details a:hover {
	/*border-color: #484848;
	color: #484848;*/
	opacity: 1;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #282828;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}
